
@{
    ViewBag.Title = "Admin";
}

<div class="row">
    <a class="btn btn-default col-md-4" href="/FacilityTypes">
        <h2>Facility Types</h2>
        <p>
            Manage facility types
        </p>
    </a>
    <a class="btn btn-default col-md-4" href="/PaymentMethods">
        <h2>Payment Methods</h2>
        <p>
            Manage payment methods
        </p>
    </a>
    <a class="btn btn-default col-md-4" href="/RoomBands">
        <h2>Room Bands</h2>
        <p>
            Manage room bands
        </p>
    </a>
    <a class="btn btn-default col-md-4" href="/RoomPrices">
        <h2>Room Prices</h2>
        <p>
            Manage room prices
        </p>
    </a>
    <a class="btn btn-default col-md-4" href="/RoomTypes">
        <h2>Room Types</h2>
        <p>
            Manage room types
        </p>
    </a>
    <a class="btn btn-default col-md-4" href="/Titles">
        <h2>Customer Titles</h2>
        <p>
            Manage customer titles
        </p>
    </a>
</div>

