
@{
    ViewBag.Title = "Admin";
}

<div class="row">

    <div class="col-md-4">
        <a class="btn btn-default nav-button" href="/FacilityTypeAdmin">
            <h2>Facility Types</h2>
            <p>
                Manage facility types
            </p>
        </a>
    </div>

    <div class="col-md-4">
        <a class="btn btn-default nav-button" href="/FacilityAdmin">
            <h2>Facilities</h2>
            <p>
                Manage facilities
            </p>
        </a>
    </div>

    <div class="col-md-4">
        <a class="btn btn-default nav-button" href="/PaymentMethodAdmin">
            <h2>Payment Methods</h2>
            <p>
                Manage payment methods
            </p>
        </a>
    </div>

    <div class="col-md-4">
        <a class="btn btn-default nav-button" href="/RoomBandAdmin">
            <h2>Room Bands</h2>
            <p>
                Manage room bands
            </p>
        </a>
    </div>

    <div class="col-md-4">
        <a class="btn btn-default nav-button" href="/RoomPriceAdmin">
            <h2>Room Prices</h2>
            <p>
                Manage room prices
            </p>
        </a>
    </div>

    <div class="col-md-4">
        <a class="btn btn-default nav-button" href="/RoomTypeAdmin">
            <h2>Room Types</h2>
            <p>
                Manage room types
            </p>
        </a>
    </div>

    <div class="col-md-4">
        <a class="btn btn-default nav-button" href="/RoomAdmin">
            <h2>Rooms</h2>
            <p>
                Manage rooms
            </p>
        </a>
    </div>

    <div class="col-md-4">
        <a class="btn btn-default nav-button" href="/HotelAdmin">
            <h2>Hotels</h2>
            <p>
                Manage hotels
            </p>
        </a>
    </div>

    <div class="col-md-4">
        <a class="btn btn-default nav-button" href="/Customers">
            <h2>Customers</h2>
            <p>
                Manage customers
            </p>
        </a>
    </div>
</div>

